@import '../../styles/_variables';

.cardContainer {
  z-index: $z-index-modal-content;
  overflow: visible !important;border: 2px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.recipeImageContainer {
  position: relative;
  width: 345px;
  height: 400px;
  overflow: hidden;
  background-color: #eee;
  border-radius:5px;
  float: left;
  z-index: 2;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.5s; 
  box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.5);  

  .recipeImage {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius:5px ;
    img {
      width: 100%;
      height: 100%;
      opacity: 0.7;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      transition: all 1s;
    }
  
    &:hover > img {
      transform: scale(1.5);
    }
  }
  .imageOverlay {
    position: absolute;
    height: 100%;
    border-radius:5px ;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 68%, rgba(0,0,0) 100%, rgba(0,0,0) 101%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 68%,rgba(0,0,0) 100%,rgba(0,0,0) 101%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 68%,rgba(0,0,0) 100%,rgba(0,0,0) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  
    width: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s; 
    transition: all 0.5s;
      transition-delay: 1.2s;
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
  }
  .cardHeader {
    position: absolute;
    bottom: 0;  
    z-index: 10;
    
    h5	{
      color: #fff;
      font-size: 24px;
      padding-left: $spacing-1;
      margin-bottom: 1rem;
    }
  
    p {
      visibility: hidden; 
      color: #fff;
      width: 80%;
      text-align:left;
      font-size: 14px;
      padding-left: $spacing-1;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      transition: all 1s;
    }
  
    &:hover > p {
      visibility: visible;  
    }
  
    .headerRating {
      z-index: 15;
    }
  }

  .openTrayButton {
    background-color: $gm-blue;
    position: absolute;
    border-radius: 50%;
    right: 0rem;
    top:50%;
    z-index: 10;
    box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.5);  
  
    button {
      position: unset;
    }
  }
}

.collapsibleTabHeader {
  z-index: 15;
  background-color: $off-white-3;
  height: 50px;
  width: 400px;
}

.collapsiblePanel {
  z-index: 15;
  background-color: $off-white-2;
  width: 400px;
  padding: 16px;
  overflow-y: scroll;
  height: 300px;
}
