@import '../../styles/variables';

.mainDisplayContainer {
    background-color: $gm-brown;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: $spacing-3;
    height: 100vm;

    h1 {
        font-size: 2rem;
        color: $yellow;
        margin-bottom: $spacing-3;
        text-align: center;
    }

    .mainDisplay {
        background-color: $light-gray;
        width: 100%;
        overflow-y: scroll;
    }
}