@import '../../styles/variables.scss';

.recipeFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: $spacing-3;

  h2 {
    font-size: 1.5rem;
    margin: $spacing-3 0;
    text-align: center;
  }

  label {
    // font-size: large;
    font-weight: bold;
  }

  .recipeFormImage {
    width: 200px;
    border-radius: $border-radius;
    transition: all 0.3s ease-in-out;
  }

  .recipeFormImage:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ccc;
  }
  
  .stepContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: $spacing-3;
    margin-bottom: $spacing-3;
    padding: $spacing-3;
    border: 1px solid #ccc;
    border-radius: $border-radius;
    box-shadow: 0 0 10px #ccc;
    transition: all 0.3s ease-in-out;
    
    .step1Container {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  
    .stepRow {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }

    .stepColumn {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      width: 50%;
    }

    .ratingContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      width: 100%;    
    }

    .ratingsForm {
      display: none
    }

    .textInput {
      width: 80%;
      margin-bottom: $spacing-2;
    }
  }
 
  .recipeFormSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $spacing-3;
    border: 1px solid #ccc;
    width: 100%;
  
    .recipeFormSubSection {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: $spacing-3;
      padding: $spacing-3;
      border: 1px solid #ccc;
    }
  
    .narrowTextField {
      width: 50%;
      margin-right: $spacing-3;
    }     
  }

  .formDivider {
    width: 100%;
    margin: $spacing-3;
    border-bottom: 1px solid #ccc;    
  }

  .nutritionItem{
    width: 10rem;
    margin-bottom: 1rem;
  }
}

.nutritionStepContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-3;
  width: 80%;
  margin: $spacing-3;

  .nutritionSection {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: $spacing-3;
  }
}