@import '../../styles/variables';

.navbarContainer {
  // display: flex;
  // flex-direction: column;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 
              0 1px 2px rgba(0, 0, 0, 0.24);

  .navbarHeader {
    // width: 100%;
    height: 30vh;

    .navbarLogo {
      width: 10rem;
      padding: $spacing-1;
    }
  }

  .navbarBody {
    width: 100%;
    // height: 100%;
    // background-color: $gm-blue;
    padding: $spacing-2
  }
}