// color palette
$gm-blue: #5d979fff;
$gm-brown: #9f705dff;
$gm-bronze: #9f915dff;
$gm-purple: #825d9fff;
$info-blue: #3598db;
$light-blue: #e6f7ff;
$green: #2bba7e;
$yellow: #f5b517;
$red: #d9482f;
$white: #ffffff;
$off-white: #fafafa;
$off-white-2: #f7f7f7;
$off-white-3: #f2f2f2;
$light-gray: #cccccc;
$disabled-gray: #f5f5f5;
$medium-gray: #6e6e6e;
$dark-gray: #353535;
$black: #000000;

// 8pt grid spacing
$spacing-0: 4px;
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 40px;
$spacing-6: 48px;
$spacing-7: 56px;
$spacing-8: 64px;
$spacing-9: 72px;